html {
    position: relative;
    min-height: 100%
}

body {
    background-color: #fff;
    margin-bottom: 100px
}

.main {
    height: 100%;
    font-size: 16px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.footer {
    align-items: center;
    margin-top: 30px;
    padding: 15px 0;
    color: #9d9d9d;
    background: #eaeaea;
    border-top: 2px solid #d0d0d0;
    width: 100%;
    position: absolute;
    bottom: 0
}

.header {
    background: #2E2E2E;
    color: #fafafa;
    box-shadow: 1px 1px 10px #080808
}

.header .logo-section img {
    height: 35px;
    margin-top: 5px;
    margin-bottom: 5px
}

.blue-line {
    height: 5px;
    background-color: #00d8ff
}

.purchase-page,
.home-page {
    background-color: #0ec2e2
}

.content {
    margin-top: 20px
}

.black-line {
    height: 5px;
    background-color: #2e2e2e
}

.menu {
    margin-top: 20px
}

.menu .menu-sidebar {
    padding-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.menu-sidebar__nav-link a {
    color: #222
}

.page {
    padding: 5px 20px 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
}

.topic-list__topics {
    list-style: none;
    padding: 0
}

.menu-sidebar__nav-link.active {
    box-shadow: 0 1px 7px 2px #b5b5b5
}

.topic-list__topic-nav-link {
    font-size: 16px;
    color: rgba(0, 158, 184, 1);
    position: relative;
    display: block;
    padding: 8px 10px
}

.topic-list__topic-nav-link h4 {
    margin: 0
}

.topic-list__topic-nav-link:focus,
.topic-list__topic-nav-link:hover {
    background-color: #e9e9e9;
    text-decoration: none
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: -2px;
    color: #424242
}

.home-page .h1,
.home-page .h2,
.home-page .h3,
.home-page .h4,
.home-page .h5,
.home-page .h6,
.home-page h1,
.home-page h2,
.home-page h3,
.home-page h4,
.home-page h5,
.home-page h6 {
    color: #fff;
    font-weight: 700;
    text-align: center
}

code {
    color: #555;
    background-color: #e0e0e0;
    padding: 1px 3px
}

.code-block-header {
    background-color: #616161;
    color: #fff;
    padding: 7px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace
}

.after-head-padding {
    padding-top: 10px
}

.highlighted,
.hl {
    background-color: #555
}

.footer-nav,
.header-nav {
    list-style-type: none;
    margin: 0
}

.header-nav__link a.buy-btn {
    border-radius: 17px;
    color: #fff;
    background-color: #00b2d2;
    border-color: #0090ab;
    padding: 6px 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px
}

.header-nav__link a.buy-btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25)
}

.header-nav__link a.buy-btn:hover,
.header-nav__link a.buy-btn:focus {
    border: 1px solid #0090ab;
    color: #fff;
    background-color: #00a7c7
}

.footer-nav {
    padding: 0
}

.header-nav__link a {
    color: #eaeaea;
    border-radius: 0;
    padding: 10px;
    height: 45px;
    font-size: 16px
}

.header-nav__link {
    display: inline-block
}

.footer-nav__link a {
    color: #979797;
    border-radius: 0;
    padding: 8px;
    height: 40px
}

.header-nav__link.active a {
    background-color: #404040;
    border-bottom: 3px solid;
    color: #fff
}

.header-nav__link a:hover,
.header-nav__link a:focus {
    color: #fff;
    background-color: #404040;
    border-bottom: 3px solid
}

.tutorial__section {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px
}

.tutorial__section-link {
    background-color: #7fedff;
    border-radius: 25px;
    display: inline-block;
    border: 7px solid #fff;
    position: relative
}

.tutorial__section-link:hover,
.tutorial__section-link:focus {
    background-color: #5ce8ff;
    border-color: #f0d04e;
    box-shadow: 1px 1px 10px 0 #f0d04e
}

.tutorial__section-link:active {
    background-color: #27cdff
}

.tutorial__section-label {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #505050;
    font-weight: 700
}

.about-project-page {
    font-size: 15px
}

.contacts-icon,
.terms-of-use-icon,
.project-icon {
    text-align: center;
    padding-top: 20px
}

.menu .section-picture {
    text-align: center;
    padding-top: 25px
}

.terms-of-use-page h2,
.terms-of-use-page h4 {
    color: #222
}

.person-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.person-info__full-name {
    font-size: 18px;
    color: rgba(0, 158, 184, 1);
    vertical-align: middle
}

.avatar {
    height: 70px
}

.person-info__profession {
    color: #9a9a9a
}

.email__value,
.email__title {
    display: inline-block;
    color: #5f5f5f
}

.purchase-page h2 {
    color: #fff
}

.course {
    display: inline-block;
    text-align: left;
    border-radius: 10px;
    padding: 20px 20px 50px;
    border: 7px solid #fff;
    position: relative;
    box-shadow: 0 0 10px 5px #e3e3e3
}

.course__sections {
    padding: 0 5px
}

.course__section {
    list-style-type: none;
    background-color: #ff8787;
    margin-top: 5px;
    padding: 5px 10px;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: Century Gothic;
    min-width: 230px;
    text-align: center
}

.course__section-before-arrow {
    position: absolute;
    left: -26px;
    bottom: 0;
    border: 16px solid transparent;
    border-right: 10px solid #ff8787
}

.course__section-after-arrow {
    position: absolute;
    right: -26px;
    bottom: 0;
    border: 16px solid transparent;
    border-left: 10px solid #ff8787
}

.course_beginner-level {
    background-color: #9ce184
}

.course_specialist-level {
    background-color: #a5c5fb
}

.course_professional-level {
    background-color: #efcc97
}

.course_master-level {
    background-color: #d8b3e3
}

.course__icon {
    text-align: center
}

.course__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #fff
}

.course_beginner-level .course__title {
    color: #fff
}

.course__price {
    background: #4f8eef;
    border-bottom-left-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    text-align: center
}

.panel-heading h4 a {
    color: #fff;
    font-size: 18px;
    font-weight: 700
}

.panel-beginner .panel-heading {
    background-color: #98d184
}

.panel-specialist .panel-heading {
    background-color: #93b6ef
}

.panel-professional .panel-heading {
    background-color: #dfb67a
}

.panel-master .panel-heading {
    background-color: #c19aca
}

.levels {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px
}

.levels .panel-body {
    background-color: #f1f1f1
}

.course__choose {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px
}

.choose-course-form .btn-success {
    background-color: #6dc86d;
    border-color: #59b259
}

.choose-course-form .btn-success:hover,
.choose-course-form .btn-success:focus {
    background-color: #61b961;
    border-color: #52a452
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
    text-decoration: none;
    color: inherit
}

@media (min-width:768px) {
    .tutorial__section-link {
        padding: 25px 30px 50px;
    }
    .footer-nav__link {
        display: inline-block
    }
    .tutorial__section-label {
        bottom: 15px;
    }
}

@media (max-width:768px) {
    .tutorial__section-link {
        padding: 15px 20px 35px;
        font-size: 13px
    }
    .tutorial__section-link img {
        width: 70px
    }
    .tutorial__section-label {
        bottom: 10px;
    }
    .content, .menu {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:992px) {
    body {
        margin-bottom: 170px
    }
    .logo-section {
        text-align: center
    }
    .menu-advertising {
        height: 100px;
        width: 100%;
        overflow-y: auto
    }
}

@media (min-width:992px) {
    body {
        margin-bottom: 100px
    }
}

.menu-advertising {
    margin-top: 5px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc
}

.bottom-content-advertising {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
    height: 120px;
    width: 100%
}

.page .h1,
.page h1,
.page .h2,
.page h2,
.page .h3,
.page h3,
.page .h4,
.page h4,
.page .h5,
.page h5,
.page .h6,
.page h6 {
    font-weight: 700
}

.disqus-thread {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-navigate {
    margin-top: 20px;
    text-align: center
}

.page-navigate__link {
    text-decoration: none
}

.page-navigate__link:hover,
.page-navigate__link:focus,
.page-navigate__link:active {
    text-decoration: none
}

.date {
    color: #a5a5a5
}

.gray-line {
    border-top: 1px solid #eaeaea;
}