@font-face {
    font-family: "RussoOne-Regular";
    src: url("../../fonts/RussoOne-Regular.eot");
    src:
            url("../../fonts/RussoOne-Regular.woff") format("woff"),
            url("../../fonts/RussoOne-Regular.woff2") format("woff2"),
            url("../../fonts/RussoOne-Regular.svg#filename") format("svg");
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url("../../fonts/Comfortaa-Bold.eot");
    src:
            url("../../fonts/Comfortaa-Bold.woff") format("woff"),
            url("../../fonts/Comfortaa-Bold.woff2") format("woff2"),
            url("../../fonts/Comfortaa-Bold.svg#filename") format("svg");
}

@font-face {
    font-family: "Roboto";
    src: url("../../fonts/Roboto-Regular.eot");
    src:
            url("../../fonts/Roboto-Regular.woff") format("woff"),
            url("../../fonts/Roboto-Regular.woff2") format("woff2"),
            url("../../fonts/Roboto-Regular.svg#filename") format("svg");
}

html {
    position: relative;
    height: 100%
}

body {
    height: 100%;
    background-color: #fff;
}

.main {
    font-size: 16px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.footer {
    align-items: center;
    padding: 15px 0;
    color: #e0e0e0;
    background: #757575;
    border-top: 2px solid #bdbdbd;
    width: 100%;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.header {
    background: #2E2E2E;
    color: #fafafa;
    box-shadow: 1px 1px 10px #080808
}

.header .logo-section img {
    height: 35px;
    margin-top: 11px;
    margin-bottom: 10px
}

.blue-line {
    height: 5px;
    background-color: #00d8ff
}

.purchase-page {
    background-color: #0ec2e2
}

.content {
    margin-top: 20px
}

.black-line {
    display: none;
}

.menu {
    margin-top: 20px
}

@media (max-width: 1000px) {
    .menu {
        display: none;
    }

    .content {
        overflow-x: hidden;
    }
}

.menu .menu-sidebar {
    padding-bottom: 20px;
}

.menu-sidebar__nav-link a {
    color: #212121
}

.menu-sidebar__nav-link a:hover {
    color: #424242;
}

.page {
    padding: 5px 20px 20px;
}

.topic-list__topics {
    list-style: none;
    padding: 0
}

.topic-list__topic-nav-link {
    font-size: 16px;
    color: rgba(0, 158, 184, 1);
    position: relative;
    display: block;
    padding: 8px 10px
}

.topic-list__topic-nav-link h4 {
    margin: 0
}

.topic-list__topic-nav-link:focus,
.topic-list__topic-nav-link:hover {
    background-color: #e9e9e9;
    text-decoration: none
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-left: -2px;
    color: #424242
}

.home-page .h1,
.home-page .h2,
.home-page .h3,
.home-page .h4,
.home-page .h5,
.home-page .h6,
.home-page h1,
.home-page h2,
.home-page h3,
.home-page h4,
.home-page h5,
.home-page h6 {
    color: #fff;
    font-weight: 700;
    text-align: center
}

code {
    color: #555;
    background-color: #e0e0e0;
    padding: 1px 3px
}

.code-block-header {
    background-color: #616161;
    color: #fff;
    padding: 7px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace
}

.after-head-padding {
    padding-top: 10px
}

.highlighted,
.hl {
    background-color: #555
}

.footer-nav,
.header-nav {
    list-style-type: none;
    margin: 0
}

.header-nav__link a.buy-btn {
    border-radius: 17px;
    color: #fff;
    background-color: #00b2d2;
    border-color: #0090ab;
    padding: 6px 14px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px
}

.header-nav__link a.buy-btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .25)
}

.header-nav__link a.buy-btn:hover,
.header-nav__link a.buy-btn:focus {
    border: 1px solid #0090ab;
    color: #fff;
    background-color: #00a7c7
}

.footer-nav {
    padding: 0
}

.header-nav__link a {
    color: #eaeaea;
    border-radius: 0;
    padding: 15px;
    font-size: 16px
}

.header-nav__link {
    display: inline-block
}

.footer-nav__link a {
    color: #e0e0e0;
    border-radius: 0;
    padding: 8px;
    height: 40px;
    font-size: 16px;
    font-family: Roboto, serif;
}

.footer-nav__link div {
    padding: 10px;
    vertical-align: middle;
    display: inline-block;
}

.header-nav__link.active a {
    background-color: #404040;
    border-bottom: 3px solid;
    color: #fff
}

.header-nav__link a:hover,
.header-nav__link a:focus {
    color: #fff;
    background-color: #404040;
    border-bottom: 3px solid
}

.tutorial__section {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px
}

.tutorial__section-link {
    background-color: #7fedff;
    border-radius: 25px;
    display: inline-block;
    border: 7px solid #fff;
    position: relative
}

.tutorial__section-link:hover,
.tutorial__section-link:focus {
    background-color: #5ce8ff;
    border-color: #f0d04e;
    box-shadow: 1px 1px 10px 0 #f0d04e
}

.tutorial__section-link:active {
    background-color: #27cdff
}

.tutorial__section-label {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    color: #505050;
    font-weight: 700
}

.about-project-page {
    font-size: 15px
}

.contacts-icon,
.terms-of-use-icon,
.project-icon {
    text-align: center;
    padding-top: 20px
}

.menu .section-picture {
    text-align: center;
    padding-top: 25px
}

.terms-of-use-page h2,
.terms-of-use-page h4 {
    color: #222
}

.person-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px
}

.person-info__full-name {
    font-size: 18px;
    color: rgba(0, 158, 184, 1);
    vertical-align: middle
}

.avatar {
    height: 70px
}

.person-info__profession {
    color: #9a9a9a
}

.email__value,
.email__title {
    display: inline-block;
    color: #5f5f5f
}

.purchase-page h2 {
    color: #fff
}

.course {
    display: inline-block;
    text-align: left;
    border-radius: 10px;
    padding: 20px 20px 50px;
    border: 7px solid #fff;
    position: relative;
    box-shadow: 0 0 10px 5px #e3e3e3
}

.course__sections {
    padding: 0 5px
}

.course__section {
    list-style-type: none;
    background-color: #ff8787;
    margin-top: 5px;
    padding: 5px 10px;
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: Century Gothic;
    min-width: 230px;
    text-align: center
}

.course__section-before-arrow {
    position: absolute;
    left: -26px;
    bottom: 0;
    border: 16px solid transparent;
    border-right: 10px solid #ff8787
}

.course__section-after-arrow {
    position: absolute;
    right: -26px;
    bottom: 0;
    border: 16px solid transparent;
    border-left: 10px solid #ff8787
}

.course_beginner-level {
    background-color: #9ce184
}

.course_specialist-level {
    background-color: #a5c5fb
}

.course_professional-level {
    background-color: #efcc97
}

.course_master-level {
    background-color: #d8b3e3
}

.course__icon {
    text-align: center
}

.course__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color: #fff
}

.course_beginner-level .course__title {
    color: #fff
}

.course__price {
    background: #4f8eef;
    border-bottom-left-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: 700;
    text-align: center
}

.panel-heading h4 a {
    color: #fff;
    font-size: 18px;
    font-weight: 700
}

.panel-beginner .panel-heading {
    background-color: #98d184
}

.panel-specialist .panel-heading {
    background-color: #93b6ef
}

.panel-professional .panel-heading {
    background-color: #dfb67a
}

.panel-master .panel-heading {
    background-color: #c19aca
}

.levels {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px
}

.levels .panel-body {
    background-color: #f1f1f1
}

.course__choose {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px
}

.choose-course-form .btn-success {
    background-color: #6dc86d;
    border-color: #59b259
}

.choose-course-form .btn-success:hover,
.choose-course-form .btn-success:focus {
    background-color: #61b961;
    border-color: #52a452
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
    text-decoration: none;
    color: inherit
}

@media (min-width:768px) {
    .tutorial__section-link {
        padding: 25px 30px 50px;
    }
    .footer-nav__link {
        display: inline-block
    }
    .tutorial__section-label {
        bottom: 15px;
    }
}

@media (max-width:768px) {
    .tutorial__section-link {
        padding: 15px 20px 35px;
        font-size: 13px
    }
    .tutorial__section-link img {
        width: 70px
    }
    .tutorial__section-label {
        bottom: 10px;
    }
    .content, .menu {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:992px) {
    .logo-section {
        text-align: center
    }
    .menu-advertising {
        height: 100px;
        width: 100%;
        overflow-y: auto
    }
}

.menu-advertising {
    margin-top: 5px;
    text-align: center;
}

.menu-advertising__item {
    padding-top: 5px;
}

.menu-advertising__item:first-child {
    padding-top: 0;
}

.bottom-content-advertising {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border: 1px solid #ccc;
    overflow-y: auto;
    height: 120px;
    width: 100%
}

.page .h1,
.page h1,
.page .h2,
.page h2,
.page .h3,
.page h3,
.page .h4,
.page h4,
.page .h5,
.page h5,
.page .h6,
.page h6 {
    font-weight: 700
}

.disqus-thread {
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.page-navigate {
    margin-top: 20px;
    text-align: center
}

.page-navigate__link {
    text-decoration: none
}

.page-navigate__link:hover,
.page-navigate__link:focus,
.page-navigate__link:active {
    text-decoration: none
}

.date {
    color: #a5a5a5
}

.gray-line {
    border-top: 1px solid #eaeaea;
}

.introduction {
    font-size: 23px;
    font-weight: 300;
    color: #6d6d6d;
}

.menu {
    margin-top: 0;
    background-color: #eeeeee;
    padding-top: 20px;
    border-left: 1px solid #e0e0e0;
}

.menu__body {
    overflow-y: auto;
    position: fixed;
    padding-left: 30px;
}

.about-project-page .content {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1200px) {
    .content {
        width: 1170px;
        margin-left: 50px;
    }

    .menu {
        width: 33%;
    }
}

@media (min-width: 992px) {
    .content {
        width: 970px;
        margin-left: 50px;
    }

    .menu {
        width: 33%;
    }
}

@media (min-width: 768px) {
    .content {
        width: 750px;
        margin-left: 50px;
    }

    .menu {
        width: 33%;
    }
}

.advertising {
    min-width: 250px;
    margin-top: 20px;
}

@media (max-width: 1130px) {
    .advertising {
        display: none !important;
    }
}

.advertising__body {
    position: fixed;
    width: 250px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-size {
    width: 100%;
    height: 100%;
}

.menu-sidebar__nav .sub-menu-item {
    margin-left: 30px;
}

/*------ flex layout ------*/

.flex {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex.flex-direction_row {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex.flex-direction_column {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex.justify-content_flex-end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
}

.flex.justify-content_flex-center {
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
}

.flex.align-items_flex-center {
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
}

.flex-1 {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;
}

.flex-2 {
    -webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 2;         /* OLD - Firefox 19- */
    -webkit-flex: 2;          /* Chrome */
    -ms-flex: 2;              /* IE 10 */
    flex: 2;
}

.flex-3 {
    -webkit-box-flex: 3;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 3;         /* OLD - Firefox 19- */
    -webkit-flex: 3;          /* Chrome */
    -ms-flex: 3;              /* IE 10 */
    flex: 3;
}

/*------ flex layout ------*/

.position_relative {
    position: relative;
}

.home-page {
    background-color: #424242;
}

.home-page .content {
    width: 100%;
    margin-left: 0;
    position: relative;
}

.home-page .react-logo-badge {
    position: absolute;
    bottom: 10%;
    left: 6%;
}

.home-page .react-logo-badge__bg-icon {
    width: 250px;
    height: 252px;
    fill: rgba(235, 235, 235, 0.16);
}

.home-page .react-logo-badge__text {
    color: #4FC3F7;
    font-size: 60px;
    position: absolute;
    font-family: Comfortaa-Bold, Roboto Slab, serif;
    top: 80px;
    left: 37px;
    letter-spacing: 3px;
}

.home-page .main-title__text {
    color: rgba(79, 195, 247, 0.7);
    font-family: Comfortaa-Bold, Roboto Slab, serif;
    letter-spacing: 3px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    height: 150px;
}

@media (min-width:1250px) {
    .container.custom-container {
        width: 100%;
    }
}

@media (min-width: 1470px) {
    .home-page .main-title__text {
        white-space: nowrap;
    }
}

@media (max-width: 398px) {
    .main-title__text {
        font-size: 22px;
    }
}

@media (min-width: 398px) {
    .main-title__text {
        font-size: 30px;
    }
}

@media (min-width: 750px) {
    .home-page .main-title__text {
        font-size: 60px;
    }
}

/*==== adaptive design =====*/

.home-page .content {
    margin: 0;
}

.home-page .section-nav {
    text-align: center;
    position: relative;
}

.home-page .section-nav__item {
    position: relative;
    display: inline-block;
    margin-right: 2%;
    margin-top: 2%;
    border: 3px solid transparent;
    box-sizing: content-box;
    border-radius: 10px;
}

.home-page .section-nav__link {
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: rgba(196, 196, 196, 0.3);
    border-radius: 10px;
    text-decoration: none;
}

.home-page .section-nav__link:hover {
    background-color: rgba(196, 196, 196, 0.18);
}

.home-page .section-nav__item:active {
    border: 3px solid rgba(149, 249, 255, 0.9);
}

.home-page .section-nav__text {
    color: #95F9FF;
    font-family: Roboto, serif;
    padding: 11% 0;
    background-color: rgba(196, 196, 196, 0.15);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 320px) {
    .home-page .section-nav__item {
        width: 26%;
    }

    .home-page .section-nav__text {
        font-size: 6px;
    }
}

@media (min-width: 320px) {
    .home-page .section-nav__item {
        width: 26%;
    }

    .home-page .section-nav__text {
        font-size: 9px;
    }

    .home-page .section-nav__item {
        margin-top: 5%;
    }
}

@media (min-width: 375px) {
    .home-page .section-nav__item {
        width: 27%;
    }

    .home-page .section-nav__text {
        font-size: 13px;
    }
}

@media (max-width: 992px) {
    .header-nav.normal {
        display: none;
    }

    .header .logo-section img {
        margin-left: -20px;
    }
}

@media (min-width: 486px) {
    .home-page .section-nav__item {
        width: 26%;
    }

    .home-page .section-nav__text {
        font-size: 14px;
    }
}

@media (min-width: 537px) {
    .home-page .section-nav__item {
        width: 28%;
    }

    .home-page .section-nav__text {
        font-size: 16px;
    }
}

@media (min-width: 588px) {
    .home-page .section-nav__item {
        width: 28%;
    }

    .home-page .section-nav__text {
        font-size: 17px;
    }

    .home-page .section-nav__item {
        margin-top: 3%;
    }
}

@media (min-width: 637px) {
    .home-page .section-nav__item {
        width: 28%;
    }

    .home-page .section-nav__text {
        font-size: 19px;
    }
}

@media (min-width: 768px) {
    .home-page .atom-bg-icon {
        background: url(../../imges/atom.svg) 100% 0 no-repeat;
        background-size: 1000px;
    }

    .home-page .section-nav__item {
        width: 28%;
    }

    .home-page .section-nav__text {
        font-size: 22px;
    }

    .home-page .code-fragment-bg-icon {
        background: url('../../imges/code-fragment.svg') 0 0 no-repeat;
    }

    .home-page .section-nav {
        padding-top: 6%;
    }
}

@media (min-width: 992px) {
    .home-page .section-nav__item {
        width: 22%;
    }

    .home-page .section-nav__text {
        font-size: 22px;
    }

    .home-page .section-nav__item {
        margin-top: 2%;
    }
}

@media (min-width: 1200px) {
    .home-page .section-nav__item {
        width: 18%;
    }

    .home-page .section-nav__text {
        font-size: 22px;
    }
}

@media (max-width: 1900px) {
    .home-page .react-logo-badge {
        display: none;
    }
}

.home-page .section-nav__icon {
    width: 60%;
    fill: #95F9FF;
    padding-top: 13%;
    padding-bottom: 13%;
}

.home-page .content {
    overflow-x: visible;
}

.ad-content-banner {}

.ad-content-banner--height_180 {
    height: 180px;
}