.nav > li > a {
    padding: 5px 10px;
}

.nav-pills > li > a {
    border-radius: 0px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #2E2E2E;
    color: #00D2F5;
}

a {
    color: #a94442;
}

a:focus,
a:hover {
    color: #cc7a6f
}

.nav > li > a:focus::before,
.nav > li > a:hover::before {
    content: '';
    position: absolute;
    left: -15px;
    bottom: 9px;
    border: 6px solid transparent;
    border-right: 6px solid #222;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #e9e9e9;
}

h4{
    font-size: 16px;
}

.footer-nav__link a:hover,
.footer-nav__link a:focus{
    color: #cc7a6f;
}

.footer-nav__link a:active{
    box-shadow: none;
    text-decoration: underline;
}

.alert-warning{
    border-color: #fbc02d !important;
    background-color: #fff9c4;
}

.alert{
    border: 0;
    border-left: 5px solid;
    border-radius: 0;
}

.h1, h1{
    font-size: 28px;
}

.h2, h2{
    font-size: 24px;
}

.h3, h3{
    font-size: 18px;
}

.h4, h4{
    font-size: 16px;
}

.h5, h5{
    font-size: 14px;
}

.h6, h6{
    font-size: 12px;
}

pre code{
    white-space: pre;
    overflow-x: auto;
}

.pre.prettyprint{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}