.nav>li>a {
    padding: 5px 10px
}

.nav-pills>li>a {
    border-radius: 0
}

a {
    color: #a94442
}

a:focus,
a:hover {
    color: #cc7a6f
}

.menu-sidebar__nav-links .nav-pills li a {
    color: #424242;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #757575;
    color: #fff
}

.nav>li>a:focus::before,
.nav>li>a:hover::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #757575
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: #e0e0e0
}

h4 {
    font-size: 16px
}

.footer-nav__link a:hover,
.footer-nav__link a:focus {
    color: #cc7a6f
}

.footer-nav__link a:active {
    box-shadow: none;
    text-decoration: underline
}

.alert-warning {
    border-color: #fbc02d!important;
    background-color: #fff9c4
}

.alert {
    border: 0;
    border-left: 5px solid;
    border-radius: 0
}

.h1,
h1 {
    font-size: 28px
}

.h2,
h2 {
    font-size: 24px
}

.h3,
h3 {
    font-size: 20px
}

.h4,
h4 {
    font-size: 17px
}

.h5,
h5 {
    font-size: 14px
}

.h6,
h6 {
    font-size: 12px
}

pre code {
    white-space: pre;
    overflow-x: auto;
    font-size: 14px;
}

.prettyprint {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #00d8ff;
}

.header .navbar-toggle {
    margin: 10px 0;
    margin-left: -10px;
}

.header-nav {
    background-color: #2E2E2E;
}

.header-nav.nav.sidebar {
    padding: 0;
}

.header-nav.nav.sidebar>li>a {
    border: none;
    padding: 10px 30px;
}

.header-nav.nav.sidebar {
    top: 61px;
}